@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  background-color: #ffffff;
  color: #212121;
  font-family: roboto, sans-serif;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */
.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border-bottom: 1px solid tomato; */
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #000000;
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo__first-half {
  color: #2196f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

/* .site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
.site-nav__link--current {
  color: #2196f3;
}
.site-nav__link--current::after {
  opacity: 1;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:first-child) {
  margin-left: 50px;
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero__button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.advantages {
  padding-top: 94px;
}

.advantages__hide-title {
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* .advantages-items .item-advantage + .item-advantage {
  margin-left: 30px;
} */
.advantages__item {
  width: 270px;
}

.advantages__icon-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
}

.advantages__content {
  margin: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-transform: none;
}

.classes {
  padding-top: 94px;
  padding-bottom: 94px;
}

.classes__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.classes__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.classes__category {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.classes__category-title {
  padding: 27px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.team__item {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card__scene {
  width: 270px;
  height: 260px;
  background-color: #ffffff;
  outline: 1px solid #f5f4fa;
  -webkit-perspective: 600px;
          perspective: 600px;
}
.card__scene:hover .card__img, .card__scene:focus .card__img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #ffffff;
  outline: 1px solid #2196f3;
}

.card__back-title {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.card__title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.card__speciality {
  margin: 0 0 16px 0;
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:not(:last-child) {
  margin-right: 10px;
}
.team__link:hover, .team__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team__icon-network {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  background-size: 106px 60px;
  background-repeat: no-repeat;
  background-position: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:not(:last-child) {
  margin-right: 30px;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__logo {
  width: 160px;
  height: 60px;
  fill: currentColor;
}

.footer {
  max-width: 1600px;
  height: 251px;
  padding: 60px 0px 60px 0px;
  margin: 0 auto;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.address-block {
  margin-right: 70px;
}

.footer__logo {
  color: #ffffff;
}

.address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.42px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.42px;
}

.networks-block__title {
  display: block;
  margin-top: 14px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.networks-block__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-block__link:not(:last-child) {
  margin-right: 10px;
}
.networks-block__link:hover, .networks-block__link:focus {
  background-color: #2196f3;
}

.networks-block__icon {
  width: 20px;
  height: 20px;
}

.newsletter-block {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
}

.newsletter-block__title {
  display: block;
  margin-top: 14px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.newsletter-block__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newsletter-block__field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: rgb(255, 255, 255);
  outline: none;
}
.newsletter-block__field::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-block__field:hover, .newsletter-block__field:focus {
  border-color: #2196f3;
}

.newsletter-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 10px 28px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.newsletter-block__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  margin-right: 0;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

/* .modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.service-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 528px;
  height: 581px;
  padding: 40px;
}

.service-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.service-form__field-title {
  position: relative;
  margin-bottom: 10px;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.service-form__field-title input:hover + .input-icon,
.service-form__field-title input:focus + .input-icon {
  color: #2196f3;
}
.service-form__field-title input:hover,
.service-form__field-title input:focus {
  border-color: #2196f3;
}

.service-form__field {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  margin: 4px 0 0 0;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-form__input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  cursor: pointer;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-form__field:hover + .service-form__input-icon,
.service-form__field:focus + .service-form__input-icon {
  color: #2196f3;
}

.service-form__field-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-form__field-comment:hover, .service-form__field-comment:focus {
  border-color: #2196f3;
}
.service-form__field-comment::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment::-moz-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}
.service-form__field-comment::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(75, 75, 75, 0.5);
}

.service-form__field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.service-form__agreement {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service-form__chackbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  /* background-color: tomato; */
}

.service-form__agreement:checked + .service-form__chackbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/sprite/svg/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
}

.service-form__agreement-link {
  margin-left: 4px;
  color: #2196f3;
}

.service-form__send-btn {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.portfolio {
  padding: 94px 0;
}

.filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons__item:not(:first-child) {
  margin-left: 8px;
}

.filter-buttons__btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit; /*явно унаслеуй шрифт от page*/
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons__btn:hover,
.filter-buttons__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list__item {
  /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
  width: calc((100% - 60px) / 3);
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 0px, 0px, 4px, 4px;
  overflow: hidden;
  /* Альтернатива */
  /* .portfolio-list__item :not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .portfolio-list__item :not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  } */
}
.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card {
  width: 100%;
}

.card__thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  overflow: hidden;
}

/* .card-thumb::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--card-bg-color);

  transform: translateY(-100%);
} */
/* .portfoio-card:hover .card-thumb::before,
.portfoio-card:focus .card-thumb::before {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.card__image {
  display: block;
  width: 100%;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card__overlay, .card:focus .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__description {
  /* position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%); */
  padding: 63px 24px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

/* .portfoio-card:hover .card-description,
.portfoio-card:focus .card-descriptionn {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.card__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.card__comment {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */